.App {
  text-align: center;
}


.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.Navbar {
  display: flex;
  flex-direction: row;
  font-size: small;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
}